header{
    height: 50px;
    width: 100%;
    text-align: center;
}
#slider{
    float: left;
    width: 20%;
    font-size: large;
}
#animacje{
    float: left;
    width: 20%;
    font-size: large;
}
#obliczenia{
    float: left;
    width: 20%;
    font-size: large;
}
#obiekt{
    float: left;
    width: 20%;
    font-size: large;
}
#zagar{
    float : left;
    width: 20%;
    font-size: large;
}
#section{
    min-height: 100%;
    width: 100%;
    font-size: large;
}
#jedynka{
    height: 100%;
    width: 30%;
    float: left;
    background: yellow;

}
#dwujka{
    height: 100%;
    width: 70%;
    float: left;
    background: red;
}
footer{
    text-align: center;
    width: 100%;
    height: auto;
    font-size: large;
    background: green;
}

